body {
    padding: 0;
    margin: 0;
}

p {
    font-family: komet-sc, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.title {
  background-color: #3D5BA6; 
    height: 80pt; 
    padding: 1pt; 
    padding-left:10%; 
    margin-top: 50px  
}

.list {
    list-style-type: none;
    font-family: komet-sc, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 24pt;
    color: #7F7F7F;
    margin-left: 150px;
    margin-bottom:350px 
}

.list-left {
    border-bottom: 1px solid #E0E0E0;
    width:235px
    
}

li {
    padding-top:40px
}

h1 {
    font-family: bc-alphapipe, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32pt;
    color: #FFFFFF;
    text-align: left;
}

a {
    text-decoration: none;
}

a:active {
    color: #7F7F7F;
}

a:link {
    color: #7F7F7F;
}

a:visited {
    color: #7F7F7F;
}

a:hover {
    color: #F98509;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-color: #3D5BA6;
    padding-left: 10%;
}

.footer a:link{
    color:#F98509;
}

.column {
    float: left;
    width: 50%;
}

.row {
    display: flex;
}

.section {
    flex: 50%;
    color: black;
    background-color: white;
    margin: 15px; 
    box-shadow: 1px 1px 4px #3C3C3C;
    height: 100%;
    padding-bottom: 10px;
}

.section h2 {
    background-color: #616FD5;
    color: #FFFFFF;
    font-family: bc-alphapipe, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section h2 {
    color: #FFFFFF;
}

.section h2:hover {
    color: #F98509;
}

.section p {
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.section-row {
    border-bottom: 1px solid #E0E0E0; 
    width: 100%; 
    height: 50px;
}

/* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-style: solid;
    border-color: #F98509;
    border-width: 2px;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #E0E0E0;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #F98509;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

button {
    background-color: #F98509;
    color: #FFFFFF;
    font-family: komet-sc, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 2.25px;
    border-radius:5px;
    box-shadow: 1px 1px 4px #3C3C3C;
    border: 0;
    padding: 8px;
    margin-top:5px;
    cursor: pointer;
}

.action-button {
    font-size: 22pt; 
    font-family: bc-alphapipe; 
    margin-left: auto; 
    margin-right: auto;
    margin-top:20px;
    border-radius:5px;
    box-shadow: 1px 1px 4px #7F7F7F;
    border: 0;
    padding: 10px; 
}

table, th, td {
    font-family: komet-sc, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.navbar {
    font-family: bc-alphapipe, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    color: #7F7F7F;
    height: 96px;
    border-bottom: 1px solid #E0E0E0;
    white-space: nowrap;
    width:100%;
}

.navbar img {
    margin-top: 18px;
    float: left;
}

.navbar a {
    margin-left: 8%;
    margin-top: 33px;
    float: left;
}

#login {
    margin-top: 5px;
    margin-right: 5%;
    float: right;
}