body {
    padding: 0;
    margin: 0;
}

p {
    font-family: komet-sc, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.title {
  background-color: #3D5BA6; 
    height: 80pt; 
    padding: 1pt; 
    padding-left:10%; 
    margin-top: 50px  
}

.list {
    list-style-type: none;
    font-family: komet-sc, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 24pt;
    color: #7F7F7F;
    margin-left: 150px;
    margin-bottom:350px 
}

.list-left {
    border-bottom: 1px solid #E0E0E0;
    width:235px
    
}

li {
    padding-top:40px
}

h1 {
    font-family: bc-alphapipe, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32pt;
    color: #FFFFFF;
    text-align: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-color: #3D5BA6;
    padding-left: 10%;
}

.footer a:link{
    color:#F98509;
}

a {
    text-decoration: none;
}

a:active {
    color: #7F7F7F;
}

a:link {
    color: #7F7F7F;
}

a:visited {
    color: #7F7F7F;
}

a:hover {
    color: #F98509;
}

table, th, td {
    font-family: komet-sc, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.navbar {
    font-family: bc-alphapipe, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    color: #7F7F7F;
    height: 96px;
    border-bottom: 1px solid #E0E0E0;
    white-space: nowrap;
    width:100%;
}

.navbar img {
    margin-top: 18px;
    float: left;
}

.navbar a {
    margin-left: 8%;
    margin-top: 33px;
    float: left;
}

#login {
    margin-top: 5px;
    margin-right: 5%;
    float: right;
}