@font-face {
    font-family: Grotto;
    src: url(../fonts/Grotto.ttf)
}
@font-face {
    font-family: Sunset Boulevard;
    src: url(../fonts/Sunset\ Boulevard.otf);
}
@font-face {
    font-family: American Typewriter;
    src: url(../fonts/American\ Typewriter\ Regular.ttf);
}
body {
    margin: 0;
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
/* h1 {
    font-family: Sunset Boulevard;
} */
.topbar {
    background-image: url("../images/topbar.png");
    background-size: cover;
    height: 63px;
    overflow: hidden;
}
.topbar-icon {
    float: left;
    padding: 14px 14px;
}
.topbar-icons:hover {
    background-color: black;
}
.sidebar {
    height: 100%;
    width: 375px;
    position: absolute;
    z-index: 1;
    top: 63;
    left: 0;
    background-color: rgb(0, 0, 0, 0.7);
}
.sidebar-button {
    background-image: url("../images/unselected-button.png");
    background-size: 375px;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    width: 375px;
    height: 157px;
    color: white;
    text-align: center;
    line-height: 65px;
    font-family: American Typewriter;
    font-size: 40px;
}
.sidebar-button:focus {
    background-image: url("../images/selected-button.png");
    color: black;
}
.main {
    margin-left: 375px;
    text-align: center;
}
.banner-image {
    background-image: url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: auto;
    margin: auto;
}
.banner-text {
    font-size: 80pt;
    margin: auto;
    font-family: Sunset Boulevard;
}
.sunsetBoulevard {
    font-family: Sunset Boulevard;
    font-size: 72pt;
}
.american-typewriter {
    font-family: American Typewriter;
}
.results {
    color: black;
    background-image: url('../images/results-background.png'); 
    background-repeat: no-repeat; 
    text-align: center;
    background-size: cover;
    width: auto;
}
.nowPlaying {
    font-family: Grotto;
    font-size: 76pt;
    margin-top: 0;
    padding-top: 25%;
    padding-left: 20%;
    padding-right: 20%;
}
table {
    /* background-image: url('images/table-background.png'); */
    background-color: rgb(161, 58, 58, 0.7);
    margin: auto;
    margin-top: 20px;
    padding: 6px;
    font-size: 16pt;
    font-family: American Typewriter;
}
th {
    /* background-image: url('images/th-background.png'); */
    background-color: rgb(161, 58, 58);
    padding: 5px;
}
td {
    background-color: white;
    color: black;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: black;
    color: #fff;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  @font-face {
      font-family: Iokharic Italic;
      src: url(Iokharic-Italic.otf);
  }
  .dadequimText {
      font-family: Iokharic Italic;
      font-size: 48px;
  }
/* table, th, td.data {
    border: 1px solid black;
    margin: auto;
    text-align: center;
} */